.*.aux
*.a
*.cma
*.cmi
*.cmo
*.cmx
*.cmxa
*.cmxs
*.glob
*.ml.d
*.ml4.d
*.mli.d
*.mllib.d
*.mlpack.d
*.native
*.coq.d
*.o
*.v.d
*.vio
*.vos
*.vok
*.vo
.coq-native/
.csdp.cache
.lia.cache
.nia.cache
.nlia.cache
.nra.cache
csdp.cache
lia.cache
nia.cache
nlia.cache
nra.cache
Makefile.coq
Makefile.coq.conf
.coqdeps.d
Makefile.test-suite.coq
Makefile.test-suite.coq.conf
.coqdeps.test-suite
*.v.hb
*.v.hb.old
coq.hb
HB/common/log.compat.elpi

_minted-*
*.aux
*.log
*.out
!*.v.out
*.synctex.gz
*.toc
*.vrb
*.fls
*.nav
*.bbl
*.blg
*.fdb_latexmk
*.vtc

*.dot
*.json
